/** Estilos Globales **/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, serif;
}
header {
    padding: 20px 0;
}
div.contenedor {
    width: 1200px;
    margin: 0 auto;
}

/** Navegación **/
.navegacion {
    background-color: #db008d;
}
nav {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
nav ul {
    list-style: none;
}
nav > ul > li {
    float: left;
}
nav ul:after {
    content: '';
    display: block;
    clear: both;
}
nav ul li a {
    display: inline-block;
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}
nav ul li a:hover {
    background-color: #00b8e4;
}

/** Navegación de Multiples Niveles **/
nav ul ul {
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7);
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover {
    background-color: rgba(0, 184, 228, 1);
}

/** Contenido Principal **/
div.contenido:after {
    content: '';
    display: block;
    clear: both;
}
main {
    width: 70%;
    float: left;
    padding-right: 40px;
}

/** Articulos **/
article {
    margin-top: 30px;
}
h2 {
    color: #00b8e4;
    margin-bottom: 20px;
}
article img {
    float: left;
    width: 300px;
    margin-right: 30px;
}
article p {
    line-height: 2;
    text-align: justify;
}
.boton {
    background-color: #00b8e4;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

/** Sidebar **/
aside {
    float: right;
    width: 30%;
    margin-top: 30px;
}
aside ul {
    list-style: none;
}
aside ul li {
    padding: 10px 0 10px;
}
aside ul li:hover {
    background-color: #00b8e4;
    cursor: pointer;
}
aside ul li a {
    color: #00b8e4;
    text-decoration: none;
}
aside ul li:hover a {
    color: #ffffff;
}

/** Footer **/
footer {
    background-color: #db008d;
    padding-top: 40px;
    margin-top: 30px;
}
footer h2 {
    color: #ffffff;
}
footer .contenedor:after {
    content: '';
    display: block;
    clear: both;
}
footer div.nosotros {
    float: left;
    width: 30%;
    color: #ffffff;
}
footer div.menu {
    float: right;
    width: 40%;
    text-align: right;
}
footer nav {
    width: auto;
}
footer nav ul li a {
    width: auto;
}
p.copyright {
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
}